<section class="users-section">
  <%= @pending_invitations %>
  <h2>All Users</h2>
  <ul class="users-list">
    <% @users.each do |user| %>
      <% if @pending_invitations.include?(user.id) %>
        <li>
          Name: <%= user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
            <%= button_to 'Accept', accept_path, method: :post, params: { friend_id: user.id } %>
            <%= button_to 'Ignore', ignore_path, method: :post, params: { friend_id: user.id } %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>