<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= invite_button(@user.id) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>

  <h2>Mutual Friends</h2><br>
  <% if @mutual_friend.empty? %>
    <p>You do not have any mutual friends</p>
  <% end %>
  <ul class="users-list">
    <% @mutual_friend.each do |user| %>
      <li>
        <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
      </li>
    <% end %>
  </ul>
</section>



