<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= invite_button(@user.id) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

<ul class="users-list">
    <% @show_friend.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
      </li>
    <% end %>
</ul>

